*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(74 81 122);
    display: flex;
}
#part1{
    height: 100%;
    width: 26%;
    /* background-color: red; */
}
#part2{
    height: 100%;
    width: 67%;
    background-color: blue;
    background-image: url(aldebaran-s-qtRF_RxCAo0-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
#overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(234, 166, 234, 0.187);
}
#part3{
    height: 100%;
    width: 7%;
    /* background-color: green; */
}
#text-div{
    /* height: 250px; */
    width: 400px;
    position: absolute;
    /* background-color: antiquewhite; */
    left: 5%;
    top: 50%;
    transform: translate(,-50% );
}
#text-div h1{
    font-size: 45px;
    font-size: 900;
    text-transform: uppercase;
    color: white;
}
#small-img{
    height: 320px;
    width: 250px;
    background-image: url(aldebaran-s-uXchDIKs4qI-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 70%;
    right: 1%;
    transform: translate(0,-50%);
}
#vertical-text{
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0% 0%;
    right: -42%;
    top: 3%;
    /* width: 100%; */
}
#vertical-text h1{
    font-size: 40px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
   letter-spacing: 2px;
    color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
}
#navbar{
    position: absolute;
    width: 150px;
    left: 5%;
    top: 5%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
#navbar img{
    height: 100px;
    border-radius: 10%;
}
#navbar h2{
    font-size: 900;
    color: white;
}